#board td {
    border: 1px solid #ccc;
    width: 2em;
    height: 2em;
    text-align: center;
    cursor: pointer;
}

#board td {
    background-color: beige;
}

#board.lost {
    outline: red solid 5px;
}

#board.won {
    outline: green solid 5px;
}

#board td.empty {
    background-color: grey;
}

#board td.flag:before {
    content: 'F';
}

#board td.mine {
    background-color: red;
}

#board td.mine:before {
    content: 'M';
}

#controls {
    margin-top: 5%;
}